.env
myenv

__pycache__
__pycache__/
*/__pycache__/
*/__pycache__/*

src/generic/*
src/handler/*
src/operator/*

!src/generic/__init__.py
!src/generic/chat.py
!src/generic/sheets.py
!src/generic/turtle.py
!src/generic/trading.py

!src/handler/__init__.py
!src/handler/matching.py
!src/handler/parser.py
!src/handler/router.py

!src/operator/forms.py
!src/operator/products.py
!src/operator/searching.py