src/authentication.py

src/operator/answer/*
src/operator/company
src/operator/company/
src/operator/company/*
src/operator/loader/*

# Operators
src/operator/company/**

# Pycaches
__pycache__/
*/__pycache__/
/__pycache__/*
*/__pycache__/*



