@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
        format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
  }
  body,
  input {
    font-size: 16px;
    line-height: 24px;
    color: black;
    font-family: "ColfaxAI", Helvetica, sans-serif;
  }
  body {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: white;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
  }
  #intro {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    max-width: 300px;
    color:white;
    border: 5px solid #03a9fc;
    padding: 10px 10px;
    border-radius: 1px;
    margin-left: 0%;
    margin-bottom: 8.5%;
    user-select: none;
  }
  #tech-stack {
    font-size: 14px;
    color:white;
    user-select: none;
  }
  #create_an_account {
    text-align: center;
  }
  .icon {
    width: 34px;
  }
  h3 {
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
    color: white;
    margin: 16px 0 25px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  input[type="text"] {
    padding: 12px 16px;
    border: 1px solid #03a9fc;
    border-radius: 4px;
    margin-bottom: 24px;
  }
  ::placeholder {
    color: #8e8ea0;
    opacity: 1;
  }
  input[type="submit"] {
    padding: 12px 0;
    color: #fff;
    background-color: #03a9fc;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
  .gallery_image {
    height: 50vmin;
    width: 50vmin;
    object-fit: cover;
    object-position: 100% 0%;
    user-select: none;
  }
  .gallery_video {
    height: 50vmin;
    width: 50vmin;
    object-fit: cover;
    object-position: 100% 0%;
  }
  .gallery_video_container {
    user-select: none;
  }
  #gallery {
    display: flex;
    gap: 4vmin;
    top: 50%;
    left: 50%;
    position: absolute;
    padding: 15px 15px;
    border-radius: 25px;
    background-color: black;
    transform: translate(0%, -50%);
  }
  #gallery_image_link {
    text-align: center;
  }
  .iframe {
    height: 50%;
    width: 50%;
    position: center;
    background-color: black;
    transform: translate(0%, -50%);
  }
  #img {
    display: flex;
    height: 40%;
    width: 40%;
    position: center;
    transform: translate(0%, -50%);
  }
  .div-box {
    text-align: center;
  }