<!DOCTYPE html>
<head>
  <title>Initiative API Landing Page</title>
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet"  />
  <script src="static/script.js"></script>

</head>

<body id="body" onmousedown="onMouseDown(event)" onmouseup="onMouseUp(event)" onmousedown="onMouseDown(event)" onmousemove="onMouseMove(event)" >

    <div id="intro">

        <h1>Welcome to the Landing Page for my Python Flask Server!</h1>
        <p>Quick Links</p>
        <ul id="urls_for_now">
            <li>
                <a id="linkedin" href="https://www.linkedin.com/in/bill-lan-6aaa01147/">LinkedIn URL</a>
            </li>
            <li>
                <a id="github" href="https://github.com/bilan604">Github URL</a>
            </li>
            <li>
                <a id="autoDataScience" href="https://colab.research.google.com/drive/1c_wFdg_MyLFYCHjqLVFvLqUyeQaJ5Sga?usp=sharing">Automatic Data Science Notebook</a>
            </li>
            
        </ul>

    </div>


    <div id="gallery" onmouseenter ="onMouseEnter(event)" onmouseout="onMouseOut(event)">
        
        <div>
            <img class="gallery_image" src="static/itr604.png" alt="TensorFlow Image Project">
        </div>
        <div>
            <img class="gallery_image" src="static/SeaTurtlePNG.png" alt="DiscordGPyT Project">
        </div>
        <div>
            <img class="gallery_image" src="static/mlb_dominance_hier.png" alt="DiscordGPyT Project">
        </div>
        <div>
            <img class="gallery_image" src="static/phi_and_e.png" alt="DiscordGPyT Project">
        </div>
        <div>
            <iframe
                src="static/sta160.mp4"
                class="gallery_video"
                autoplay
                >
            </iframe>
        </div>
        



        <div id="result_1">      
            <h3>Ask Questions</h3>
            <form action="/" method="post">
                <input type="text" name="query" placeholder="Enter a Question" autocomplete="off" required />
                <input type="submit" value="Submit" />
            </form>
        </div>



    </div>

</body>