<!DOCTYPE html>
<head>
  <title>If I had a Nickel for every Programming Language I've Learned</title>
  <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet"  />
  <script>

    function onMouseUp(e) {
        let gallery = document.getElementById("gallery");
        gallery.mousedown = 'false';
        posdiff = 100 * (e.clientX - gallery.startClick) / window.innerWidth;
        
        gallery.oldpos = posdiff + gallery.oldpos;
        gallery.animate(
            {transform: 'translate(-' + Math.min(100, Math.max(0, gallery.oldpos)) +'%, -44%)'}, 
            {duration: 800, fill: 'forwards'}
        );
    }
    
    function onMouseDown(e) {
        let gallery = document.getElementById("gallery");
        if (isNaN(gallery.oldpos)) {
            gallery.oldpos = 0;
        }
        gallery.startClick = e.clientX;
        gallery.mousedown = 'true';
    }
        
    function onMouseMove(e) {
        const gallery = document.getElementById("gallery");
        const dwindowratio = (e.clientX - gallery.startClick) / window.innerWidth;
        const newratio = 130 * dwindowratio;
        const newpos = newratio + gallery.oldpos;
        if (gallery.mousedown == "true") {
            gallery.animate(
                {transform: 'translate(-' + Math.min(100, Math.max(0, newpos)) +'%, -50%)'}, 
                {duration: 1200, fill: 'forwards'}
            );

            const np = Math.min(100, Math.max(0, (100-(1.5*newpos.toFixed(0)))));
            const images = gallery.getElementsByClassName("image");
            for (let i = 0; i < images.length; i++) {
                images[i].animate(
                {objectPosition: np + '% 50%'},
                {duration: 1200, fill: 'forwards'}
                );
            }
        }
    }
    
    function onMouseEnter(e) {
        /*var element = document.getElementById("test-display");
        element.innerHTML = "<div>Mouse Inside | Inside another div</div>";*/
    }
    
    function onMouseOut(e) {
        /*var element = document.getElementById("test-display");
        element.innerHTML = "Mouse Outside";*/
    }
    
</script>

</head>

<body onmousedown="onMouseDown(event)" onmouseup="onMouseUp(event)" onmousedown="onMouseDown(event)" onmousemove="onMouseMove(event)" onmouseout="onMouseOut(event)" onmouseenter ="onMouseEnter(event)">

    <div id="intro">

        <h1>Initiative API</h1>
        <p>Project Experience</p>
        <ul id="tech-stack">
            <li>
                <a id="constant_time_search" href="https://colab.research.google.com/drive/1f7tsxsHfJgXZ9JbrUYq2aRlTO2rqtLTH?usp=sharing">Constant Time Search</a>
            </li>
            
            <li>
                <a id="automatic_data_science" href="https://colab.research.google.com/drive/1c_wFdg_MyLFYCHjqLVFvLqUyeQaJ5Sga?usp=sharing">Automatic Data Science</a>
            </li>
            
        </ul>

    </div>


    <div id="gallery">

        <div id="result_1">      
            <h3>Find Questions</h3>
            <form action="/" method="post">
                <input type="text" name="query" placeholder="Enter a Question" autocomplete="off" required />
                <input type="submit" value="Submit" />
            </form>
        </div>

        <div id="result_2">
            <h3>Ask Questions</h3>
            <form action="/" method="post">
                <input type="text" name="query_test" placeholder="Enter a Question" autocomplete="off" required />
                <input type="submit" value="Submit" />
            </form>
        </div>
        
        <div id="result_3">
            <h3>Search</h3>
            <form action="/" method="post">
                <input type="text" name="search_query" placeholder="Enter a Query" autocomplete="off" required />
                <input type="submit" value="Submit" />
            </form>
        </div>

        <div id="result_4">
            <h3>Login</h3>
            <form action="/" method="post">
                <input type="text" name="login_username" placeholder="Username" autocomplete="off" required />
                <input type="text" name="login_password" placeholder="Password" autocomplete="off" required />
                <input type="submit" value="Login" />
            </form>
            <a id="create_an_account" href="www.yahoo.com" css="center">Create an Account</a>
        </div>

    </div>

</body>